/* Mensaje de error al fallar el login */
.mensaje-error {
    color: red;
}

/* Modificador para tag-fecha cuando contiene un enlace */
.tag-fecha-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

/* Enlace a la nota dentro del tag */
.link-nota {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
}
